<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>SUFeedURL</key>
	<string>https://walkerfirmin.github.io/MenuCue/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>dXNie/zOTj/g4M9e4InL2F9k5mhoPzaEUPmIZ9TpsKE=</string>
</dict>
</plist>
